@import 'sass/variables';
@import 'sass/_mixins';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700italic,700,800,800italic);

body {
	font-size: 16px;
	color: #fff;
	font-family: "Open Sans", sans-serif;
}



header {
	z-index: 2;
	min-height: 100px;
	border-bottom: 2px solid rgba(255, 255, 255, .5);
	background-color: #fc0dcc;
}

h2.inner-page{
	text-transform: uppercase;
	font-size: em(44);
	margin: 0;
	font-weight: 600;
	color: $heading-color;
}

.date{
	color: $secondary-color;
	font-size: em(18);
	font-weight: 600;
	margin-bottom: 10px;
}

.back-to-top{
	border: 2px solid #56cbee;
	padding: 10px 20px;
	display: block;
	margin-bottom: 60px;
	float: right;
	i{
		font-size: 50px;
		vertical-align: middle;
	}
}
/*navbar styles *******/
.dark-nav{
	background-color: rgba(0,0,0,.9) !important;

}
.navbar-brand{
	padding:15px 15px 0;
}
.navbar-default{
	background-image: none;
	background-color: transparent;
	border-color: transparent;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	.navbar-nav{
		>li{

			&.active >a, &.active >a:hover, &.active >a:focus{
				@extend %nav-links-state;
			}

			>a{
				margin-top: 25px;
				color: #fff;
				text-transform: uppercase;
				font-size:em(14);
				padding:15px 0px;
				&:hover, &:focus{
					@extend %nav-links-state;
				}

			}
			&:last-child a{
				margin-right: 0;
			}
		}
	}
	.navbar-languages{

		> li {

			>a{
				padding:5px;
				border:1px solid;
				margin-right:10px;
				margin-top:30px;
				-webkit-border-radius:3px;
				-moz-border-radius:3px;
				border-radius:3px;
				&:hover, &:focus{
					background-color: #39A1CE;
					border-color: #39A1CE;
				}
			}
			&:first-child a{
				margin-right:30px;
			}
			&:last-child a{
				margin-right: 0;
			}
		}

	}
	.navbar-main >li>a{
		margin-right:35px;
	}

}

/* top carousel for landing page */

.carousel {
	font-size: 16px;
	.carousel-indicators li {
		height: 28px;
		width: 28px;
		border-radius: 28px;	
		border: 2px solid #fff;
	}
	.carousel-indicators .active {
		height: 28px;
		width: 28px;
		background-color: #37c3eb;
	}

	.slider-btn {
		margin-top: 70px;
		.btn {
			background-color: transparent;
			border: 1px solid #fff;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 1.5em;
			padding-right: 50px;
			padding-left: 50px;
		}
	}
}

.carousel-inner>.item {
	height: 990px;
}

.carousel-inner>.item>img {
	height: 100%;
	max-width: none;
	width: auto;
}

.carousel-caption {
	right: 0;
	left: 0;
	top: 100px;
	bottom: auto;
	text-align: left;
	.slider-big-text {
		font-size: 3em;
	}
	.slider-small-text {
		font-size: 2.25em;
		font-style: italic;
		font-weight: 300;
		padding-top: 2em;
	}
}



.glyphicon-chevron-right,
.glyphicon-chevron-left {
	width: 40px;
	height: 72px
}

.glyphicon-chevron-right:before,
.glyphicon-chevron-left:before {
	content: "";
	width: 40px;
	height: 72px;
	position: absolute;
	background-image: url(../img/arrow.png);
}

.glyphicon-chevron-left:before {
	transform: rotate(180deg);
}

/* end top carousel for landing page */

.section {
		h2 {
			color: #4e5c63;
			font-size: 2.75em;
			padding-top: 30px;
			padding-bottom: 21px;
			font-weight: 600;
			text-transform: uppercase;
			z-index: 2;
		}
	}

	.using-products {
		@extend .section
	}

	.product-info {
			margin-bottom: 4em;
			.title {
			font-size: 1.5em;
			font-weight: 600;
			text-transform: uppercase;
			color: #37c3eb;
			text-align: center;
			padding-top: 2.5em;
		}
		.desc {
			padding-top: 1.2em;
			color: #7e8b96;
			font-size: 1em;
			font-weight: 400;
			line-height: 1.5em;
		}
	}

	.red-top-line img{
		border-top: 3px solid #e94f50;
	}

		.blue-top-line img{
		border-top: 3px solid #3ac2e8;
	}

		.green-top-line img{
		border-top: 3px solid #6cc437
	}

	.news,
	.products,
	.services,
	.engineering,
	.company,
	.contacts {
		@extend .section
	}

	.news {
		.devider {
			margin-left: 240px;
		}
	}

	.products {
		background-image: url(../img/bg-products.jpg);
		background-size: cover;
		background-position: center top;
		padding-bottom: em(80);
	}

	.img-responsive {
		max-width: 100%;
		width: 100%;
		height: auto;
	}

	.large-block {
		float: left;
		width: 66.5%;
		margin-right: 0.5%;
		height: 270px;
		margin-bottom: 10px;
		overflow: hidden;
		
		img {
			@extend .img-responsive
		}
	}

	.small-block {
		float: left; 
		width: 33%;
		height: 270px;
		margin-right: 0.5%;
		margin-bottom: 10px;
		overflow: hidden;
		img {
			@extend .img-responsive
		}
	}

	.mini-block {
		width: 49.5%;
		height: 49.5%;
		float: left;
		overflow: hidden;
		img {
			@extend .img-responsive
		}
	}

	.mini-block:nth-child(odd) {
		margin-right: 1%;
	}

	.mini-block:nth-child(1),
	.mini-block:nth-child(2) {
		margin-bottom: 1%;
	}

	.small-block:last-child {
		margin-right: 0;
	}

	.tabs-product {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			width: 25%;
			height: 200px;
			float: left;
			background-color: #37c3eb;
			text-align: center;
			display: table;
			a {
				font-size: em(26);
				color: #ffffff;
				display: table-cell;
				vertical-align: middle;
				width: 100%;
				height: 100%;
				font-weight: 600;
				&:hover,
				&:focus {
					text-decoration: none;
				}
			}
			&:hover,
			&.active {
				background-color: #C3C3C3;
				cursor: pointer;
			}
		}
	}

	.gas {
		width: 20%;
		float: left;
		height: 100px;
		background-color: #fbbe0b;
		text-align: center;
		.gas-sign {
			display: block;
		}
		a {
			color: #ffffff;
			display: block;
			height: 100%;
			width: 100%;
			padding-top: 25px;
			&:hover {
				text-decoration: none;
			}
		}
		&.gas-name {
			display: block;
		}
		&.gas-red {
			background-color: #e94f51;
		}
		&.gas-green {
			background-color: #6cc537;
		}
		&.gas-ornge {
			background-color: #f97914;
		}
		&.gas-light-orange {
			background-color: #fbbe0b;
		}
	}

	.services {
		background-image: url(../img/bg-services.jpg);
		background-size: cover;
		background-position: center top;
		padding-bottom: em(50);
		p {
			margin: 20px 0;
			font-size: em(18);
			font-weight: 300;
		}
		h2 {
			color: #ffffff;
			padding-top: 20px;
			padding-bottom: 10px;
		}
		h3 {
			margin: -10px 0 0 0;
			padding: 0;
			font-size: em(24);
			font-weight: 300;
		}

		.img-service {
			border: 3px solid #37c3eb;
			margin-bottom: em(36);
			position: relative;
		}

		.desc-service {
			position: absolute;
			display: table;
			background-color: rgba(0, 0, 0, .5);
			bottom: 0;
			text-align: center;
			width: 100%;
			min-height: 67px;
			span {
				display: table-cell;
				vertical-align: middle;
			}
		}
	}

.engineering {
	background-image: url(../img/bg-engineering.jpg);
	background-size: cover;
	background-position: center top;
	padding-bottom: em(80);
}

.engineering-block-left {
	position: relative;
	margin-left: 60px;
	background-color: #37c3eb;
	color: #ffffff;
	text-transform: uppercase;
	font-size: em(24);
	font-weight: 700;
	padding-left: 130px;
	height: 180px;
	width: 420px;
	margin-bottom: 46px;
	.eng-circle {
		position: absolute;
		left: -60px;
		width: 120px;
		height: 120px;
		margin: auto;
		top: 0;
		bottom: 0;
		border-radius: 50%;
		-webkit-border-radius: 50%;
		border: 1px solid #37c3eb;
		background-color: #ffffff;
		&:before {
			content: "";
			position: absolute;
			background-image: url(../img/eng-icons.png);
			background-repeat: no-repeat;
			width: 47px;
			height: 47px;
			margin: auto;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-position: 0 0;
		}
	}
	&:last-child .eng-circle:before{
			background-position: 0 -47px;
	}
	&>span {
		position: absolute;
		margin: auto;
		top: 0;
		bottom: 0;
		display: block;
		height: 100px;
		padding-right: 20px;
	}
}

.eng-quote {
	position: relative;
	background-color: rgba(0, 0, 0, .5);
	padding: 20px 30px;
	border-radius: 5px;
	.quote-sign {
		display: inline-block;
		position: absolute;
		width: 25px;
		height: 22px;
		bottom: -22px;
		left: 50px;
		background-image: url(../img/quote-sign.png);
		background-repeat: no-repeat;
	}
}

.company {
	font-size: em(18);
	color: #000000;
	background-color: #FFF;
	.text-about-us {
		color: #37c3eb;
		font-weight: 600;
		font-size: em(24);
		margin-bottom: 20px;
		display: inline-block;
	}
	p {
		color: #7e8b96;
	}
}

.contacts {
	margin-top: 20px;
	margin-bottom: 20px;
	h2 {
		text-align: center;
	}
}

.wrap-callback {
	border: 1px solid #37c3eb;
	padding: 27px;
	.text-callback {
		color: #37c3eb;
		font-weight: 700;
		text-transform: uppercase;
		font-size: em(20);
		margin-bottom: 30px;
	}
	label {
		display: block;
		width: 100%;
		input[type="text"],
		textarea {
			width: 100%;
			border: 1px solid #d8d8d8;
			border-radius: 3px;
			padding: 12px;
			color: #000000;
			margin-bottom: 10px;
		}
		input[type="text"]:focus,
		textarea:focus {
		border: 1px solid #37c3eb;
		outline: 0;
		}
	}
	.btn-send {
		width: 100%;
		background-color: #37c3eb;
		font-weight: 700;
		font-size: em(20);
		text-transform: uppercase;
	}
}



@import '_news';
@import '_search';
@import 'sass/grid';