@import 'sass/variables';
@import 'sass/_mixins';
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700italic,700,800,800italic);

body {
	font-size: 16px;
	color: #fff;
	font-family: "Open Sans", sans-serif;
}

header {
	z-index: 2;
	min-height: 100px;
	border-bottom: 2px solid rgba(255, 255, 255, .5);
	background-color: #fc0dcc;
}
/*navbar styles *******/
.dark-nav{
  background-color: rgba(0,0,0,.7) !important;

}
.navbar-brand{
  padding:15px 15px 0;
}
.navbar-default{
  background-image: none;
  background-color: transparent;
  border-color: transparent;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  .navbar-nav{
    >li{

      &.active >a, &.active >a:hover, &.active >a:focus{
        @extend %nav-links-state;
      }

      >a{
        margin-top: 25px;
        color: #fff;
        text-transform: uppercase;
        font-size:em(14);
        padding:15px 0px;
        &:hover, &:focus{
          @extend %nav-links-state;
        }

      }
      &:last-child a{
        margin-right: 0;
      }
    }
  }
  .navbar-languages{

    > li {

      >a{
        padding:5px;
        border:1px solid;
        margin-right:10px;
        margin-top:30px;
        -webkit-border-radius:3px;
        -moz-border-radius:3px;
        border-radius:3px;
        &:hover, &:focus{
          background-color: #39A1CE;
          border-color: #39A1CE;
        }
      }
      &:first-child a{
        margin-right:30px;
      }
      &:last-child a{
        margin-right: 0;
      }
    }

  }
  .navbar-main >li>a{
    margin-right:35px;
  }

}



.carousel {
	.carousel-indicators li {
		height: 28px;
		width: 28px;
		border-radius: 28px;
		border: 2px solid #fff;
	}
	.carousel-indicators .active {
		height: 28px;
		width: 28px;
		background-color: #37c3eb;
	}

	.slider-btn {
		margin-top: 70px;
		.btn {
			background-color: transparent;
			border: 1px solid #fff;
			text-transform: uppercase;
			font-weight: 300;
			font-size: 1.5em;
			padding-right: 50px;
			padding-left: 50px;
		}
	}
}

.carousel-caption {
	right: 0;
	left: 0;
	top: 100px;
	bottom: auto;
	text-align: left;
	.slider-big-text {
		font-size: 3em;
	}
	.slider-small-text {
		font-size: 2.25em;
		font-style: italic;
		font-weight: 300;
		padding-top: 2em;
	}
}

.section {
		h2 {
			color: #4e5c63;
			font-size: 2.75em;
			padding-top: 30px;
			padding-bottom: 21px;
			font-weight: 600;
			text-transform: uppercase;
			display: inline-block;
			z-index: 2;
			background-color: #ffffff;
		}
	}

	.using-products {
		@extend .section
	}

	.product-info {
			margin-bottom: 4em;
			.title {
			font-size: 1.5em;
			font-weight: 600;
			text-transform: uppercase;
			color: #37c3eb;
			text-align: center;
			padding-top: 2.5em;
		}
		.desc {
			padding-top: 1.2em;
			color: #7e8b96;
			font-size: 1em;
			font-weight: 400;
			line-height: 1.5em;
		}
	}

	.red-top-line img{
		border-top: 3px solid #e94f50;
	}

		.blue-top-line img{
		border-top: 3px solid #3ac2e8;
	}

		.green-top-line img{
		border-top: 3px solid #6cc437
	}

	.devider {
		position: absolute;
		width: 100%;
		height: 21px;
		top: 76px;
		z-index: -1;
		.line {
			z-index: -1;
			display: block;
			padding-top: 5px;
			border-top: 2px solid #e4e8eb;
		}
	}

	.news {
		@extend .section
	}

	.news {
		.devider {
			margin-left: 240px;
		}
	}
@import '_news';
@import 'sass/grid';