 @media (max-width: 1199px) {
   .navbar-default .navbar-main > li > a{
     margin-right: 20px;
   }
 }

@media (max-width: 991px) {
  .navbar-header{
    width: 15%;
  }
  .navbar-collapse{
    width:85%;
    float: left;
  }
  .navbar-default{

    .navbar-main > li > a{
      margin-top: 12px;
      font-size:em(12);
      margin-right:15px;
    }
    .navbar-languages>li>a {
      font-size:em(12);
      margin-right:5px;
      padding: 2px;
      margin-top:22px;
    }
    .navbar-languages > li:first-child a{
      margin-right:20px;
    }
  }
  .news-page{

    .social ul
      > li{
        display: inline-block;
        margin-right:20px;

        &:last-child{
          margin-right: 0;
        }

      }

    .common-interest{
      h2{
        text-align: center;
        font-size: em(20);
      }

      .common-post{
        margin-bottom:20px;
      }

    }

    .contact-manager{
      margin-bottom: 20px;
    }

  }

  footer{
    .footer-left-side .input-group{
      width: 100%;
    }

  }

}
@media (max-width: 767px) {
  .navbar-header, .navbar-collapse{
    width: 100%;
  }
  .navbar-collapse{
    float: none;
    border-top: none;
    box-shadow: none;
    margin-top: 20px;
  }
  .navbar-default{

    .navbar-toggle{
      margin-top: 30px;
      margin-right: 0;
      .icon-bar {
        background-color: #fff;
      }

      &:hover, &:focus{
        background-color: transparent;
      }

    }

    .navbar-nav > li > a{
      margin: 0 0 0 20px;
    }
    .navbar-main > li > a {
      padding-bottom:5px;
      border-bottom:2px solid transparent;
    }
    .navbar-languages > li {
      display: inline-block;
      a{
        padding: 10px;
      }
    }

  }
  footer{
    background: #28a9c9;

    .input-group-btn{
      display: block;
      margin-top: 10px;
    }

    .footer-right-side .text-right{
      text-align: left;
    }

  }

}

@media (max-width: 479px) {
  .search-results_finded h3{
    font-size: 1.2em;
  }

  h2.inner-page{
    font-size: 2em;
  }
  .news-page header h2{
    font-size:em(30);
  }
  footer{
    .footer-right-side .text-right{
      text-align: center;
    }
  }
}